# SPDX-License-Identifier: Apache-2.0
# SPDX-FileCopyrightText: 2022 Sebastian Crane <seabass-labrax@gmx.com>

name: Test REUSE compliance

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - '**'

jobs:
  reuse:
    name: Test REUSE compliance
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Run `reuse lint`
        uses: fsfe/reuse-action@v1
